@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
canvas {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	cursor: none !important;
}

:not(canvas) {
	cursor: url('./cursor.svg') 2 2, auto !important;
}

.mantine-Modal-content {
	overflow: visible;
}

.mantine-Modal-root {

	.mantine-Modal-inner,
	header,
	section {
		background: transparent;
		box-shadow: none;
	}
}

.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}